.category-books__item:not(:first-child) {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.category-books__item:nth-last-child(-n + 2) {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

// .card-set__item {
//   flex-basis: calc((100% - 20px));

//   @media screen and (min-width: 768px) {
//     flex-basis: calc((100% - 10px * (3 - 1)) / 3);
//   }
// }

.category-books__img {
  width: 300px;
  height: 400px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 200px;
    height: 300px;
  }

  @media screen and (min-width: 1280px) {
    width: 150px;
    height: 200px;
  }
}
.category-books__name {
  width: 200px;

  @media screen and (min-width: 1280px) {
    width: 150px;
  }
}

.category-books__author {
  @media screen and (min-width: 1280px) {
    width: 150px;
  }
}

.load-more-js {
  width: 100px;
  height: 30px;
  display: block;
  margin: 25px 0 0 auto;
  padding: 5px 8px;
  border: none;
  border-radius: 50px;
  border-color: #a407f8;
  outline: 2px solid #a407f8;

  font: inherit;
  color: inherit;
  cursor: pointer;

  //   transition: background-color var(--duration-timing),
  //     color var(--duration-timing);
}

.load-more-js:hover,
.load-more-js:focus {
  background-color: #a407f8;
  color: white;
}
