<main class="main">
  <section class="shopping-list__page">
    <h1 class="shopping-main__title">
      Shopping <span class="shopping-main__title--violet-color">List</span>
    </h1>
    <div class="empty-list">
      <p class="shopping-empty-text">
        This page is empty, add some books and proceed to order.
      </p>
      <img
        class="shopping-empty-img"
        srcset="
          ./images/shopingImg/emptyList-265.png 265w,
          ./images/shopingImg/emptyList-322.png 322w,
          ./images/shopingImg/emptyList-530.png 530w,
          ./images/shopingImg/emptyList-644.png 644w
        "
        sizes="(min-width: 768px) 322px,(max-width: 767px) 265px, 100vw"
        src="./images/shopingImg/emptyList-265.png"
        alt="books"
        loading="lazy"
      />
    </div>
    <ul class="shopping-main__list-js"></ul>
  </section>
</main>
