<header class="header">
  <div class="header-container container">
    <!-- ЛОГОТИП -->
    <a class="header__logo link" href="./index.html">
      <svg class="header__logo-icon" width="68" height="28">
        <use href="./images/icons.svg#icon-full-logo"></use>
      </svg>
    </a>

    <!-- МЕНЮ ДЛЯ  АВТОРИЗОВАНОГО  КОРИСТУВАЧА -->
    <ul class="menu list is-hidden">
      <li><a class="menu__home link" href="./index.html">Home</a></li>
      <li>
        <a class="menu__shopping link" href="./shopping-list.html"
          >Shopping-list
          <svg class="icon-cart" width="20" height="20">
            <use href="./images/icons.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="header__group">
      <div class="theme__switch-wrapper">
        <label class="theme__switch">
          <input type="checkbox" class="mode-switch" />
          <span class="slider round"></span>
        </label>
      </div>

      <button class="auth__modal-open auth__modal-open-js" type="button">
        Sign up
        <svg class="" width="20px" height="20px">
          <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>

      <div class="authorised-btns__wrapper is-hidden">
        <button class="btn-user user-btn-js" type="button">
          <span class="fone-icon-user">
            <svg class="icon-user" width="19px" height="19px">
              <use href="./images/icons.svg#icon-user"></use>
            </svg>
          </span>
          User
          <svg class="icon-triangle-down" width="23px" height="26px">
            <use href="./images/icons.svg#icon-triangle-down"></use>
          </svg>
        </button>
        <button class="log-out-btn log-out-btn-js is-hidden" type="button">
          Log out
          <svg class="" width="20px" height="20px">
            <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>

      <!-- КНОПКА БУРГЕР МЕНЮ МЕНЮ  -->
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="icon-burger" width="28" height="28">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
