<section class="support">
  <div class="support__wrap-title">
    <h3 class="support__title">Support Ukraine</h3>
    <svg class="support__emblem" width="20" height="32">
      <use href="./images/icons.svg#icon-emblem"></use>
    </svg>
  </div>
  <div class="swiper">
    <ul class="support__list-js swiper-wrapper"></ul>
  </div>
  <button
    class="support__btn swiper-button-next"
    type="button"
    aria-label="swipe fund`s list down button"
  >
    <svg class="support__btn-icon" width="38" height="38">
      <use href="./images/icons.svg#icon-arrow-down"></use>
    </svg>
  </button>
</section>
