.shopping-main{
    padding: 40px 20px;

    @media screen and (min-width: 768px) {
            padding: 40px 32px;
        }
    @media screen and (min-width: 1280px) {
            padding: 40px 24px 40px 40px;
    }
}

.shopping-main__title{

    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;

    margin-bottom: 40px;
}

.shopping-main__title--violet-color{
    color:#4F2EE8;
}


.shopping__item {
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;

    padding: 20px;
    width: 335px;
    margin-bottom: 20px;

    position: relative;

    @media screen and (min-width: 768px) {
            padding: 24px;
            width: 704px;
        }
    @media screen and (min-width: 1280px) {
            width: 996px;
        }
}

.shopping__item:last-child{
    margin-bottom: 0;
}

.shopping-button {
    position: absolute;
    top: 14px;
    right: 14px;

    width: 28px;
    height: 28px;

    border-radius: 50%;
    padding: 0;

    background-color: #4F2EE8;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
            top: 24px;
            right: 24px;

            width: 34px;
            height: 34px;
        }
}

.shopping-button__icon {
    pointer-events: none;
}

.shopping__box {
    margin: 0;
}

.shopping__img {
    width: 98px;
    height:139px;

    @media screen and (min-width: 768px) {
            width: 116px;
            height: 165px;
            }
}

.shopping__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;

    
    @media screen and (max-width: 375px) {
            width: 144px;
        }

    margin-bottom: 4px;
}

.shopping__titleText {
    font-size: 12px;
    line-height: 1.17;

    color: #B4AFAF;
}

.shopping__author{
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;

    color: #B4AFAF;
    margin-top: 4px;
}

.flex-box {
    display: flex;
}

.flex-box__text {
    display: flex;
    flex-direction: column;
}

.shops-list {
    display: flex;
}

.shopping__text {
    font-size: 14px;
    line-height: 1.28;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}