<!-- <button class="auth__modal-open-js">Authorization modal</button> -->
<div class="auth__backdrop is-hidden auth__modal-js">
  <div class="auth__modal">
    <form class="form" autocomplete="off">
      <div class="form__render">
        <div class="form__field">
          <input
            id="name"
            type="text"
            class="form__input form__input-name"
            name="name"
            pattern="[a-zA-Z\u0400-\u04ff]{3,30}"
            required
          />
          <label for="name" class="form__label form__label-name">Name</label>
        </div>
      </div>

      <div class="form__field">
        <input
          id="mail"
          type="email"
          class="form__input form__input-mail"
          name="mail"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        />
        <label for="mail" class="form__label form__label-mail">Email</label>
        <svg class="form__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-auth-mail"></use>
        </svg>
      </div>

      <div class="form__field">
        <input
          id="password"
          type="password"
          class="form__input form__input-password"
          name="password"
          required
        />
        <label for="password" class="form__label form__label-password"
          >Password</label
        >
        <svg class="form__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-auth-password"></use>
        </svg>
      </div>

      <button type="submit" class="form__btn-submit">Sign up</button>
      <div class="form__btns">
        <button type="button" class="form__btn-sign-up active">Sign up</button>
        <button type="button" class="form__btn-sign-in">Sign in</button>
      </div>
      <button class="auth__modal-close auth__modal-close-js" type="button">
        <svg class="auth__modal-close-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
