<button data-modal-open>Authorization modal</button>
<div class="auth__backdrop is-hidden" data-modal>
  <div class="auth__modal">
    <form class="form">
      <div class="form-field">
        <input type="text" class="form-input" name="name" placeholder="" />
        <label for="name" class="form-label">Name</label>
      </div>

      <div class="form-field">
        <input type="email" class="form-input" name="mail" placeholder="" />
        <label for="mail" class="form-label">Email</label>
      </div>

      <div class="form-field">
        <input
          type="password"
          class="form-input"
          name="password"
          placeholder=""
        />
        <label for="password" class="form-label">Password</label>
      </div>

      <button type="submit" class="form-btn">Sign up</button>
      <button>Sign up</button>
      <button>Sign in</button>
      <button data-modal-close class="auth__modal-close">
        <svg class="auth__modal-close-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
