.header-wrapper {
  display: flex;
  position: relative;

  border: 1.5px solid $dark-color;
  border-radius: 0px 0px 8px 8px;
  background-color: $white-color;
  transition: background-color $cubic-time, color $cubic-time,
    border-color $cubic-time;
}

.mob-header {
  @media screen and (min-width: 375px) {
    width: 375px;
  }
}

//  ЛОГОТИП

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 18px;
  padding-bottom: 18px;

  @media screen and (min-width: 768px) {
    padding-top: 19px;
    padding-bottom: 25px;
  }
}

// МЕНЮ ДЛЯ АВТОРИЗОВАНОГО КОРИСТУВАЧА

.menu {
  display: none;

  margin-left: 32px;
  align-items: center;
  gap: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: $dark-color;
  transition: opacity $cubic-time, visibility $cubic-time;
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 99px;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.menu__shopping {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon-cart {
  fill: currentColor;
}

.current {
  font-weight: 700;
  background: $yellow-color;
  border-radius: 36px;
  padding: 8px 16px;
  color: $dark-color;
}

//  КНОПКА БУРГЕР МЕНЮ МЕНЮ

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.icon-burger {
  fill: #000000;
}

.menu-toggle :hover,
.menu-toggle :focus {
  fill: $blue-color;
}

// ПЕРЕМИКАЧ ТЕМНОІ ТЕМИ ТА  КНОПКИ  "sign-up", "user"

.header__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

//  КНОПКИ  "sign-up" ТА  "user"

.auth__modal-open {
  display: none;

  align-items: center;
  justify-content: center;
  gap: 90px;
  width: 184px;
  height: 48px;
  background-color: $blue-color;
  border: 1.5px solid $dark-color;
  border-radius: 18px;
  color: $white-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  transition: opacity $cubic-time, visibility $cubic-time;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &.is-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.auth__modal-open-js:hover,
.auth__modal-open-js:focus {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

.authorised-btns__wrapper {
  position: relative;

  &.is-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.btn-user {
  display: none;

  align-items: center;
  justify-content: space-around;
  gap: 5px;

  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.02em;

  color: $white-color;
  border: 1px solid $blue-color;
  border-radius: 36px;
  background-color: $blue-color;

  height: 45px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.fone-icon-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  background-color: $primary-background-color;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.icon-user {
  fill: $blue-color;
}

.icon-triangle-down {
  fill: $white-color;
}

.btn-user:hover,
.btn-user:focus {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

// ==============

.log-out-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  width: 184px;
  height: 48px;
  background-color: $white-color;
  border: 1.5px solid $dark-color;
  border-radius: 18px;
  color: $dark-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.log-out-btn.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// =========================

// МОДАЛЬНЕ ВІКНО МЕНЮ

.modalll.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalll {
  position: absolute;

  top: 64px;
  left: 0px;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  padding: 20px;

  z-index: 7;

  background-image: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  transition: opacity 150ms linear, visibility 150ms linear;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// КНОПКИ  МОДАЛЬНОГО МЕНЮ

.drop-auth__modal-open {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  width: 184px;
  height: 48px;
  margin-top: 20px;

  background-color: $blue-color;
  border: 1.5px solid $dark-color;
  border-radius: 18px;
  color: $white-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  transition: opacity $cubic-time, visibility $cubic-time;

  &.is-hidden {
    display: none;
  }
}


.drop-btn-user {
  display: flex;

  align-items: center;
  justify-content: space-around;
  gap: 5px;

  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.02em;

  color: $white-color;
  border: 1px solid transparent;
  border-radius: 36px;
  background-color: transparent;

  height: 45px;

  margin-bottom: 126px;

  pointer-events: none;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}


// МОБІЛЬНЕ ДРОП МЕНЮ
.drop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: $white-color;
  transition: opacity $cubic-time, visibility $cubic-time;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.drop-menu__home,
.drop-menu__shopping {
  border-radius: 36px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.drop-menu__home:hover,
.drop-menu__home:focus,
.drop-menu__shopping:hover,
.drop-menu__shopping:focus {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

//  КНОПКА  Log out-
.drop-log-out-btn {
  position: absolute;

  left: 20px;
  bottom: 15%;

  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 118px;
  height: 48px;
  background-color: $white-color;
  border: 1.5px solid $dark-color;
  border-radius: 18px;
  color: $dark-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

// КНИГИ
.modal__books-list {
  position: absolute;
  top: 60%;
  left: -10%;

  // display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin: 0;

  width: 130%;
  transform: rotate(-15deg);
  // height: 439px;
}

.modal__books-item {
  max-width: 90px;
  margin: 0;
  padding: 0;
  transform: rotate(15deg);
  img {
    max-width: none;
  }
}
