.header {
  outline: 1px solid tomato;
  display: flex;
  width: 100%;

  padding: 20px 0;

  @media screen and (min-width: 768px) {
    padding: 14px 0px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 0px;
  }
}
