.header {
  width: 100%;
}

.header-container {
  display: flex;

  border: 1.5px solid $dark-color;
  border-radius: 0px 0px 8px 8px;

  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}


//  ЛОГОТИП

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 18px;
  padding-bottom: 18px;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 20px;
  }
}


// МЕНЮ ДЛЯ АВТОРИЗОВАНОГО КОРИСТУВАЧА

.menu {
    display: none;
 
  @media screen and (min-width: 768px) {
    margin-left: 32px;
    display: flex;
      align-items: center;
      gap: 24px;
    
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.04em;
      text-transform: uppercase;
    
      color: $dark-color;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 99px;
  }
}

.menu__shopping {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon-cart {
  fill: currentColor;
}

.current {
  font-weight: 700;
  background: $yellow-color;
  border-radius: 36px;
  padding: 8px 16px;
}


//  КНОПКА БУРГЕР МЕНЮ МЕНЮ

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.icon-burger {
  fill: #000000;
}

.menu-toggle :hover,
.menu-toggle :focus {
  fill: $blue-color
}



// ПЕРЕМИКАЧ ТЕМНОІ ТЕМИ ТА  КНОПКИ  "sign-up", "user"

.header__group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    gap: 24px;
  }
}

//  КНОПКИ  "sign-up" ТА  "user"

.auth__modal-open-js {
display: none;
        @media screen and (min-width: 768px) {
          display: flex;
            align-items: center;
            justify-content: center;
            gap: 90px;
            width: 184px;
            height: 48px;
            background-color: $blue-color;
            border: 1.5px solid $dark-color;
            border-radius: 18px;
            color: $white-color;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
        }
}

.auth__modal-open-js:hover,
.auth__modal-open-js:focus {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.30);
}

.btn-user {
  display: none;
@media screen and (min-width: 768px) {
  display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
  
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;
  
    color: $white-color;
    border: 1px solid $blue-color;
    border-radius: 36px;
    background-color: $blue-color;
  
    width: 184px;
    height: 45px;
}}

.fone-icon-user {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $primary-background-color;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.icon-use {
  fill: $blue-color;
}

.icon-triangle-down {
  fill: $white-color;
}

.btn-user:hover,
.btn-user:focus {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.30);
}





// МОДАЛЬНЕ ВІКНО МЕНЮ

// .backdroppp{
// position: fixed;
// top: 64;
// left: 0;

// width: 100%;
// height: 100%;

// background-color: rgba(25, 28, 38, 0.4);
// backdrop-filter: blur(2px);
// z-index: 1000;

// transition: opacity 150ms linear, visibility 150ms linear;
// }

    // .backdroppp.is-hidden .modalll {
    //   opacity: 0;
    //   transform: translateX(-50%), translateY(-70%);
    // }


  .modalll.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

.modalll{
  position: fixed;

  top: 64;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 10001;

background-image: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
transition: opacity 150ms linear, visibility 150ms linear;


  // transform: translateX(64px) translateY(100%);
  // transform: translateY(100%);
    // transition: transform 250ms ease-in-out;
// transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
}

    

    // КНИГИ
.modal__books-list {
  outline: 2px dashed rgb(0, 255, 140);
// position: relative;
        display: block;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;
        // gap: 30px;
        // margin: 0;

        width: 450px;
        height: 439px;
}


.modal__books-item{
    outline: 3px solid rgb(173, 212, 55);
    position: absolute;
    // flex-basis: calc((100% - 3px) / 4);
      // margin: 0;
      // padding: 0;

}

.modal__books-item:nth-child(1) {
 width: 89.15px;
  height: 133.54px;
  left: -65px;
  top: 559px;
}

.modal__books-item:nth-child(2){
width: 83.7px;
  height: 133.54px;
  left: 53.88px;
  top: 527.15px;
}
.modal__books-item:nth-child(3) {
  width: 89.36px;
    height: 133.54px;
    left: 168.98px;
    top: 496.31px;
}

.modal__books-item:nth-child(4) {
  width: 87.69px;
    height: 133.54px;
    left: 283.36px;
    top: 465.66px;
}

.modal__books-item:nth-child(5) {
  width: 86.08px;
  height: 133.54px;
  left: -23.91px;
  top: 706.11px;}

.modal__books-item:nth-child(6) {
  width: 89.95px;
    height: 133.54px;
    left: 91.07px;
    top: 675.3px;
}

.modal__books-item:nth-child(7) {
  width: 87.77px;
    height: 133.54px;
    left: 209.29px;
    top: 643.62px;
}

.modal__books-item:nth-child(8) {
position: absolute;
  width: 90.16px;
  height: 133.54px;
  left: 322.11px;
  top: 613.39px;
}

.modal__books-item:nth-child(9) {
width: 89.95px;
  height: 133.54px;
  left: 14.06px;
  top: 854.05px;
}

.modal__books-item:nth-child(10) {
width: 98.16px;
  height: 133.54px;
  left: 125.91px;
  top: 824.08px;
}

.modal__books-item:nth-child(11) {
width: 94.18px;
  height: 133.54px;
  left: 245.7px;
  top: 791.98px;
}

.modal__books-item:nth-child(12) {
  width: 84.03px;
  height: 133.54px;
  left: 363.98px;
  top: 760.29px;
}