body {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  letter-spacing: -0.04em;

  color: #111111;
  background-color: $primary-background-color;
  transition: background-color $cubic-time;

  &.modal-open {
    overflow: hidden;
    height: 100vh;
  }
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* For smooth page scrolling */
html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
