.container {
  max-width: 375px;

  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    max-width: none;
    width: 768px;
    padding: 0px 32px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 0px 24px;
  }
}

.page-wrapper {
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 40px;
  }
}

.side-bar {
  width: 100%;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1440px) {
    width: 356px;
    display: block;
    flex-shrink: 0;

    padding-bottom: 0px;
  }
}

.main {
  width: 100%;
}

.home__page,
.shopping-list__page {
  width: 100%;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    padding: 40px 0px;
  }
}

.shopping-list__page--hide-side-bar .side-bar {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
  }
}
