
.theme__switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  right: 232px;
  top: 24px;
}



@media screen and (max-width: 768px) {
  .theme__switch-wrapper {
    right: 240px;
  }
}

@media screen and (max-width: 320px) {
  .theme__switch-wrapper {
    right: 62px;
    top: 20px;
  }
}

.theme__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  // margin: 0 10px;
}

.theme__switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(79, 46, 232, 1),
    rgba(220, 220, 220, 1)
  );
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(79, 46, 232, 1);
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 4px;
  left: 1px;
  background-color: var(--white-color);
  transform: translate(-1px, -3px);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    to bottom,
    rgba(79, 46, 232, 1),
    rgba(104, 104, 104, 1)
  );
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(79, 46, 232, 1);
}

input:focus + .slider {
  background: linear-gradient(to bottom, rgba(79, 46, 232, 1), rgba(104, 104, 104, 1) );
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(79, 46, 232, 1);
}

input:checked + .slider:before {
  height: 18px;
  width: 18px;
  top: 4px;
  left: 22px;
  transform: translate(-1px, -3px);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  border-radius: 50%;
}

////header///
.dark .header-container{
  background-color: $dark-color;
}


///body////
body.dark {
  background-color: $dark-gray-color;
  color: rgba(255, 255, 255, 0.6);
}

/////category section///
.dark .category-books__title + .category-books__author {
  color: $text-gray-color;
}

.dark .category-books__name,
.dark .load-more-js,
.dark .main__title-js,
.dark .shopping__title,
.dark .modal__close-btn,
.dark .menu__shopping.link
.dark .shopping__text,
.dark .modal__close-btn {
  color: $white-color;
}

.dark .load-more-js {
  background-color: $dark-gray-color;
}

.dark .categories-list__button {
  color :rgba(255, 255, 255, 0.6);
}

.dark .categories-list__button.selected-categories {
  color : #EAC645;
}



.dark .icon-burger{
  fill:#ffffff;
}

.dark .menu-toggle :hover,
.menu-toggle :focus {
  fill: #EAC645;
}

.dark .modal{
  background-color: rgba(32, 32, 36, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  color: $white-color;
}



