.theme__switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  right: 232px;
  top: 24px;
  border-radius: 34px;
}

@media screen and (max-width: 768px) {
  .theme__switch-wrapper {
    right: 240px;
  }
}

@media screen and (max-width: 320px) {
  .theme__switch-wrapper {
    right: 62px;
    top: 20px;
  }
}

.theme__switch-wrapper {
  animation: pulseSwitch 3s ease-in-out infinite;
}

@keyframes pulseSwitch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.dark .theme__switch-wrapper {
  animation: pulseSwitch 3s ease-in-out infinite;
}

@keyframes pulseSwitch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.theme__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.theme__switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(79, 46, 232, 1),
    rgba(220, 220, 220, 1)
  );
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(79, 46, 232, 1);
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 4px;
  left: 1px;
  background-color: var(--white-color);
  transform: translate(-1px, -3px);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(
    to bottom,
    rgba(79, 46, 232, 1),
    rgba(104, 104, 104, 1)
  );
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(79, 46, 232, 1);
}

input:focus + .slider {
  background: linear-gradient(
    to bottom,
    rgba(79, 46, 232, 1),
    rgba(104, 104, 104, 1)
  );
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1),
    inset -1px -1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(79, 46, 232, 1);
}

input:checked + .slider:before {
  height: 18px;
  width: 18px;
  top: 4px;
  left: 22px;
  transform: translate(-1px, -3px);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  border-radius: 50%;
}

////header///
.dark .header-wrapper,
.dark .shopping__item {
  background-color: $dark-color;

  border: 1.5px solid $white-color;
  border-radius: 0px 0px 8px 8px;
}

.dark .shopping__item {
  border: 1.5px solid #2a1d67;
  border-radius: 0px 0px 8px 8px;
}

///body////
body.dark,
.dark .auth__modal {
  background-color: $dark-gray-color;
  color: rgba(255, 255, 255, 0.6);
}

/////category section///
.dark .category-books__title + .category-books__author {
  color: $text-gray-color;
  transition: color $cubic-time;
}

.dark .category-books__name,
.dark .load-more-js,
.dark .main__title-js,
.dark .shopping__title,
.dark .modal__close-btn,
.dark .menu__shopping.link,
.dark .modal__close-btn,
.dark .shopping-main__title,
.dark .shopping__text,
.dark .menu__home,
.dark .form__label,
.dark .auth__modal-close-icon,
.dark .form__input-name,
.dark .form__input-mail,
.dark .form__input-password,
.dark .modal__remobe-btn-message {
  color: $white-color;
  transition: color $cubic-time;
}

.dark .load-more-js,
.dark .form__input,
.dark .form__btn-sign-up,
.dark .form__btn-sign-in,
.dark .auth__modal-close {
  background-color: $dark-gray-color;
}

.dark .categories-list__button {
  color: $primary-background-color;
}

.dark .categories-list__button.selected-categories {
  color: #eac645;
}

.dark .icon-burger,
.dark .auth__modal-close-icon,
.dark .form__icon {
  fill: $white-color;
}

.dark .menu-toggle :hover,
.dark.menu-toggle :focus {
  fill: #eac645;
}

.dark .modal,
.dark .auth__modal {
  background-color: $dark-gray-color;
  border: 2px solid $white-color;
  color: $white-color;
  transition: color $cubic-time, backgroung-color $cubic-time,
    border-color $cubic-time;
}

.dark .form__field input,
.dark .form__btn-submit {
  border: 2px solid $white-color;
}

.dark .form__btn-submit {
  background-color: $primary-background-color;
  color: $dark-color;
}
.dark .form__btn-sign-up,
.dark .form__btn-sign-in {
  color: #f6f6f680;
}
.dark .form__btn-sign-up.active,
.dark .form__btn-sign-in.active {
  color: $blue-color;
}

.dark .modal__item.amazon,
.dark .shops-list__link.amazon {
  filter: grayscale(100%) invert(50%) brightness(150%);
}
